<div class="main-container">


    <div class="mobile-header" fxHide.gt-sm>

        <!-- <button mat-icon-button (click)="snav.toggle()" fxShow="true" style="color:#fff">
            <mat-icon>menu</mat-icon>
        </button> -->

        <div class="logo">
            <a routerLink="/home"><img src="../../assets/img/logo.png"></a>
        </div>

        <div class="contact-wrapper"> <a routerLink="/contact" routerLinkActive="is-active"
                class="top-navigation-button">

                <mat-icon>mail_outline</mat-icon>


            </a></div>

    </div>


    <mat-toolbar [ngClass]="{ sticky: scrolled }" class="header" fxHide.lt-md>
        <mat-toolbar-row>

            <div class="logo-cont">
                <a routerLink="/home"><img src="../../assets/img/logo.png"></a>

            </div>



            <nav class="main-menu" fxShow="true">
                <ul>
                    <li>
                        <a routerLink="/home" routerLinkActive="is-active" class="top-navigation-button">

                            <mat-icon>home</mat-icon>
                            <span>Home</span>

                        </a>
                    </li>
                    <li>
                        <a routerLink="/contact" routerLinkActive="is-active" class="top-navigation-button">

                            <mat-icon>mail_outline</mat-icon>
                            <span> Say Hello </span>

                        </a>
                    </li>
                    <li>
                        <div class="project-button">
                            <a href="https://github.com/nmikal98/Protfolio.git">
                                <img src="../../assets/img/branch.svg">
                                <img src="../../assets/img/star.svg"></a>
                        </div>
                    </li>
                </ul>
            </nav>
        </mat-toolbar-row>
    </mat-toolbar>


    <mat-sidenav-container fxFlexFill style="position: absolute;">
        <!-- <mat-sidenav #snav>
            <mat-nav-list>

                <a mat-list-item routerLink="/home" routerLinkActive="is-active" class="top-navigation-button">

                    <mat-icon>home</mat-icon>
                    <span>Home</span>

                </a>

                <a mat-list-item routerLink="/contact" routerLinkActive="is-active" class="top-navigation-button">

                    <mat-icon>mail_outline</mat-icon>
                    <span> Say Hello </span>

                </a>
            </mat-nav-list>
        </mat-sidenav> -->


        <mat-sidenav-content fxFlexFill (scroll)="onScroll($event)">

            <div class="content" id="scrollable">
                <router-outlet></router-outlet>
            </div>


        </mat-sidenav-content>
    </mat-sidenav-container>




</div>

<div class="footer">
    <div class="row">
        <div class="col-md-12 flex-right">
            <p> © 2023 All Rights Reserved.</p>
        </div>
    </div>
</div>